# vold needs to load keystore which loads libtf_crypto_sst.so which has text relocations
allow vold self:process execmem;

#============= vold ==============
allow vold kernel:system module_request;

# allow vold dirty_ratio access
allow vold proc:file rw_file_perms;
