on init
    # We use our own ril-daemon service definition, see htc-ril-daemon
    stop ril-daemon

on fs
    mkdir /rca 0775 root radio
    mkdir /rfs 0755 radio radio
    mkdir /devlog 0700 root root

on post-fs
    # Create /dev/ttyACMX0 for poweron_modem_fls.sh
    # mknod is not allowed in the rild domain.
    exec /system/bin/mknod /dev/ttyACMX0 c 66 0
    chmod 770 /dev/ttyACMX0
    restorecon /dev/ttyACMX0

    # Set permissions after mount
    chmod 0775 /rca
    chmod 0664 /rca/calib.nvm
    chmod 0775 /rfs

    chown root radio /rca
    chown root radio /rca/calib.nvm
    chown root radio /rfs

    # requires /rca to be rw
    restorecon /rca
    restorecon /rca/calib.nvm
    restorecon_recursive /rfs

on post-fs-data
    # The camera calibration from the WDM partition is written to
    # /data/factory_main.bin and /data/factory_front.bin by the vendor camera
    # HAL that runs inside the mediaserver process. The process runs as uid
    # media, gid audio and is therefore not allowed to create files in /data.
    # Create a directory with proper permissions and symlink the files into it.
    # The files will be created once written.
    mkdir /data/cam_calib 0770 media system

    # In case the files already exist (coming from Sense) the symlink creation
    # will fail. Delete them first.
    rm /data/factory_main.bin
    rm /data/factory_front.bin
    rm /data/calibration.bin
    rm /data/calibration_front.bin
    rm /data/camera_overrides_front.isp

    symlink /data/cam_calib/factory_main.bin /data/factory_main.bin
    symlink /data/cam_calib/factory_front.bin /data/factory_front.bin
    symlink /data/cam_calib/calibration.bin /data/calibration.bin
    symlink /data/cam_calib/calibration_front.bin /data/calibration_front.bin
    symlink /data/cam_calib/camera_overrides_front.isp /data/camera_overrides_front.isp

    # Modem
    mkdir /data/rfs
    mkdir /data/rfs/data
    mkdir /data/rfs/data/modem
    mkdir /data/rfs/data/debug
    chown radio system /data/rfs/data
    chown radio system /data/rfs/data/modem
    chown radio system /data/rfs/data/debug

    mkdir /data/modem_sec 0770 root radio
    mkdir /data/modem_work 0770 root radio

    # libnvmm_camera.so
    mkdir /data/nvcam 0775 system system

    restorecon /data/modem_sec
    restorecon /data/modem_work

    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

on boot
    # NV audio blob
    chown media system /sys/power/suspend/mode
    chmod 0664 /sys/power/suspend/mode

    # Hardware tunables

    # Vibrator intensity
    chown system system /sys/class/timed_output/vibrator/dutycycle
    chmod 0664 /sys/class/timed_output/vibrator/dutycycle

    # Button backlight
    chown system system /sys/class/leds/button-backlight/button_brightness
    chmod 0664 /sys/class/leds/button-backlight/button_brightness

    # Sweep2wake
    chown system system /sys/android_touch/sweep2wake
    chmod 0664 /sys/android_touch/sweep2wake

    # Adaptive backlight (surfaceflinger Uid: system, Gid: graphics)
    chown system system /sys/devices/tegradc.0/smartdimmer/enable
    chmod 0664 /sys/devices/tegradc.0/smartdimmer/enable

# HTC RIL daemon. Name changed so it doesn't clash with ril-daemon defined in init.rc
service htc-ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    socket rild-audio-gsm stream 660 radio audio
    socket rild-htc-coredump stream 660 radio system
    socket rild-agps stream 660 radio system
    socket rild-audio stream 660 radio audio
## +++ for ganlite ril
    socket ganat stream 660 radio ganlite_access
    socket ganpsat stream 660 radio ganlite_access
    socket kipc stream 660 radio ganlite_access
## --- for ganlite ril
    user root
    group radio cache inet misc audio log

on property:ril.start.gsm0710mux=1
    start gsm0710mux
